# ignored by Git
config.*
venv/
__pycache__
__pycache__*
__pycache__/*
dieticianApi/__pycache__
dieticianApi/__pycache__*
dieticianApi/__pycache__/*
test/__pycache__
test/__pycache__*
test/__pycache__/*