# ignored by Git
config.*
__pycache__
__pycache__*
__pycache__/*
dieticianApi/__pycache__
dieticianApi/__pycache__*
dieticianApi/__pycache__/*
test/__pycache__
test/__pycache__*
test/__pycache__/*
venv/
.idea/Dietician.iml
env/
