<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="/">
<table>

    <tr>
        <th><label for="user_id">User ID</label></th>
        <td><input id="user_id" name="user_id" required type="text" value=""></td>
    </tr>

    <tr>
        <th><label for="password">Password</label></th>
        <td><input id="password" name="password" required type="password" value=""></td>
    </tr>

</table>
    <input type="submit" \>
    </form>
</body>
</html>